.page-breadcrumb{
    margin-bottom: 30px;
    margin-top: 35px;
    @include tablet{
        margin-bottom: 40px;
    }
    .breadcrumb-text{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        font-size: 16px;
        span{
            font-family: 'Barlow',sans-serif;
            margin: 2px 7px 0px;
            color: $blue;
            font-size: 18px;
        }
        .breadcrumb-svg{
            display: flex;
            fill: $blue;
            height: 21px;
            width: 21px;
            margin: 0;
        }
        a{
            font-family: 'BarlowSemiBold',sans-serif;
            color: $blue;
            text-decoration: none;
            letter-spacing: .1px;
        }
        a.blogtitle{
            font-family: 'BarlowMedium',sans-serif;
            font-size: 15px;
            color: #2f5990;
        }
    }
}

.doctor-main-content{
    .doctors-introduction{
        font-family: "BarlowLight", sans-serif;
        color: $gray;
        h1{
            margin-bottom: 1rem;
        }
        .intro-content{
            margin-bottom: 20px;
            text-align: justify;
            text-justify: inter-cluster;
        }
        .page-slider{
            margin-bottom: 40px;
            overflow: hidden;
            position: relative;
            @include tablet{
                margin-bottom: 60px;
            }
            picture{
                img{
                    width: 100%;
                    object-fit: contain;
                    display: block;
                }
            }

            .page-slider-controls{
                .page-prev, .page-next{
                    padding: 0;
                    border: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background: transparent;
                    svg{
                        fill: #e1e1e1;
                        height: 25px;
                        width: 25px;
                    }
                    &:focus {
                        outline:none!important;
                    }
                }
                .page-prev{
                    left: 20px;
                }
                .page-next{
                    right: 20px;
                }
            }
        }
    }

    .doctors-list-content{
        h3{
            color: $green-2;
            font-family: "BarlowBold", sans-serif;
            margin-bottom: 30px;
            @include tablet{
                margin-bottom: 40px
            }
        }
        .doctors-department-container{
            margin-bottom: 30px;
            h5{
                font-size: 28px;
                color: $gray;
                font-family: "BarlowBold", sans-serif;
                margin-bottom: 25px;
            }
            .column{
                margin-bottom: 20px;
                padding-left: 5px;
                padding-right: 5px;
                .doctor-profile-container{
                    border: solid 1px $gray-2;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    position: relative;
                    padding: 40px 15px 15px;
                    transition: all 0.2s ease;
                    border-radius: 6px;
                    overflow: hidden;
                    
                    @include tablet{
                        padding: 15px;
                        border-radius: 6px;
                    }
                    cursor: pointer;
                    &:hover{
                        transition: all 0.2s ease;
                        background: $green-gradient-top;
                        box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
                        color: #fff;
                        .doctor-ln, .doctor-fn, .doctor-abv, .doctor-head, .specialization, .sub-spec, .sched{
                            color: #fff;
                        }
                    }
                    .status{
                        font-family: 'BarlowSemiBold', sans-serif;
                        font-size: 14px;
                        text-transform: uppercase;
                        position: absolute;
                        right: -1px;
                        top:0px;
                        padding: 4px 15px;
                        color: #fff;
                        z-index: 1;
                        background-color: $green;
                        letter-spacing:1px;
                        border-radius:0px 0px 0px 6px;
                        font-style: italic;
                        &.visiting{
                            background-color: $blue;
                        }
                        &.affiliated{
                            background-color: $blue;
                        }
                        &.hassched{
                            background-color: $orange;
                        }
                        
                        @include tablet {
                            padding: 4px 12px;
                            font-size: 11px;
                        }
                    }
                    .doctor-image{
                        max-width: 280px;
                        max-height: 280px;
                        height: 280px;
                        width: 100%;
                        display: block;
                        margin: 0 auto 20px auto;
                        position: relative;
                        @include tablet{
                            max-width: 160px;
                            max-height: 160px;
                            height: 160px;
                        }
                        img{
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                            display: flex;
                        }
                    }
                    .doctor-ln{
                        color: $gray;
                        font-family: 'BarlowSemiBold', sans-serif;
                        margin-bottom: 7px;
                        text-transform: uppercase;
                        line-height: .8;
                        font-size: 24px;
                        text-align: center;
                        @include tablet {
                            font-size: 18px;
                        }
                    }
                    .doctor-fn{
                        color: $gray;
                        font-family: 'Barlow', sans-serif;
                        margin-bottom: 0px;
                        font-size: 24px;
                        text-align: center;
                        line-height: 1;
                        @include tablet {
                            font-size:18px;
                        }
                    }
                    .doctor-abv{
                        color: $gray;
                        font-family: 'Barlow', sans-serif;
                        margin-top: 6px;
                        margin-bottom: 0px;
                        font-size: 20px;
                        text-align: center;
                        line-height: 1;
                        @include tablet {
                            font-size: 16px;
                        }
                    }
                    .doctor-head{
                        font-family: 'BarlowMedium', sans-serif;
                        margin-top: 10px;
                        margin-bottom: 0px;
                        font-size: 14px;
                        text-align: center;
                        line-height:22px;
                        color: $green;
                        @include tablet {
                            font-size: 14px;
                        }
                    }
                    .specialization{
                        font-family: 'Barlow', sans-serif;
                        color: $gray;
                        font-size: 18px;
                        text-align: center;
                        line-height: 1.2;
                        text-transform: uppercase;
                        margin-top: 15px;
                        @include tablet {
                            font-size: 14px;
                        }
                    }
                    .sub-spec{
                        font-family: 'Barlow', sans-serif;
                        color: $gray;
                        font-size: 10px;
                        text-align: center;
                        line-height: 1.2;
                        text-transform: uppercase;
                        margin-top: -14px;
                    }
                    .sched{
                        font-family: 'BarlowMedium', sans-serif;
                        text-align: center;
                        font-size: 13px;
                        display: flex;
                        margin-top: auto;
                        justify-content: center;
                        color: $gray;
                    }
                }
            }
        }
    }
}