// BARLOW FONTS
@font-face {
    font-family: 'Barlow', sans-serif;
    src: url('../fonts/Barlow_Semi_Condendsed/BarloweSemiCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BarlowMedium', sans-serif;
    src: url('../fonts/Barlow_Semi_Condendsed/BarloweSemiCondensed-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'BarlowSemiBold', sans-serif;
    src: url('../fonts/Barlow_Semi_Condendsed/BarloweSemiCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'BarlowBold', sans-serif;
    src: url('../fonts/Barlow_Semi_Condendsed/BarloweSemiCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BarlowExtraBold', sans-serif;
    src: url('../fonts/Barlow_Semi_Condendsed/BarloweSemiCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'BarlowBlack', sans-serif;
    src: url('../fonts/Barlow_Semi_Condendsed/BarloweSemiCondensed-Black.ttf') format('truetype');
}


@font-face {
    font-family: 'BarlowExtraLight', sans-serif;
    src: url('../fonts/Barlow_Semi_Condendsed/BarloweSemiCondensed-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'BarlowLight', sans-serif;
    src: url('../fonts/Barlow_Semi_Condendsed/BarloweSemiCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'BarlowThin', sans-serif;
    src: url('../fonts/Barlow_Semi_Condendsed/BarloweSemiCondensed-Thin.ttf') format('truetype');
}


// MONTSERRAT FONTS

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratMedium', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratSemiBold', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratBold', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratExtraBold', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratBlack', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratThin', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratExtraLight', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratLight', sans-serif;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}