*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    margin: 0;
}
.svg-icon{
    width: 15px;
    height: 15px;
    fill: #013578;
    margin-right: 5px;
}
.no-scroll{
    overflow-y: hidden;
}