header{
    #site-navigation{
        .upper-header-container{
            padding: 15px 0px;
            width: 100%;
            background: rgb(14,91,2);
            background: $green-gradient;
            margin-bottom: 25px;
            .upper-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                    margin-right: 7px;
                    margin-left: 7px;
                    width: auto;
                    max-height: 90px;
                    @include tablet{
                        max-height: 114px;
                        margin-right: 20px;
                    }
                }
                .header-logo-text{
                    color: #fff;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    margin-right: 15px;
                    margin-left: 15px;
                    @include tablet{
                        margin-right: 0px;
                        margin-left: 0px;
                    };
                    h1{
                        font-family: 'MontserratBold', sans-serif;
                        text-shadow: 0px 0px 7px rgba(0,0,0,0.6);
                        @include respond((
                            font-size: (1.1rem,1.2rem,1.5rem,2.2rem,2.6rem)
                        ));
                    }
                    .cdhi-header-details{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        margin-top: -10px;
                        justify-content: space-between;
                        @include mini-desktop{
                            justify-content: flex-start;
                        }
                        @include desktop{
                            justify-content: space-between;
                        }
                        .svg-icon{
                            fill: #fff;
                            filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.6));
                            width: 18px;
                            height: 18px;
                        }
                        span{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            font-family: 'BarlowMedium', sans-serif;
                            text-transform: uppercase;
                            text-shadow: 0px 0px 7px rgba(0,0,0,0.6);
                            letter-spacing: .5px;
                            &:nth-child(2), &:nth-child(3), svg{
                                display: none;
                                @include tablet{
                                    display: flex;
                                }
                            }

                            @include respond((
                                font-size: (10px,12px,null,20px,22px),
                            ));

                            @include tablet{
                                font-family: 'Barlow', sans-serif;
                                margin-right: 20px;

                                &:nth-child(3){
                                    margin-right: 0px;
                                }
                            }
                        }
                    }

                }
                .burger-btn{
                    padding: 11px 3px;
                    border: none;
                    background: transparent;
                    display: flex;
                    margin-left: auto;
                    margin-bottom: 20px;
                    margin-right: 10px;
                    align-self: center;
                    @include tablet{
                        display: none;
                    }
                    .burger-menu{
                        display: flex;
                        align-self: center;
                        height: 2px;
                        width: 30px;
                        background-color: #fff;
                        position: relative;
                        &:before{
                            content: '';
                            display: block;
                            width: 30px;
                            height: 2px;
                            position: absolute;
                            left: 0;
                            top: -7px;
                            background-color: #fff;
                        }
    
                        &:after{
                            content: '';
                            display: block;
                            width: 30px;
                            height: 2px;
                            position: absolute;
                            left: 0;
                            bottom: -7px;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
        .primary-nav-container{
            padding: 25px 0px 0px 0px;
            @include tablet{
                padding: 0px 0px 0px 0px;
            }

            .green-line-gradient{
                width: 100%;
                height: 6px;
                border-radius: 3px;
                background: rgb(14,91,2);
                background: $green-gradient;
                @include tablet{
                    margin-bottom: 25px;
                }
            }
            .menu-primary-menu-container{
                display: none;
                @include tablet{
                    display: block;
                }
                .primary-nav, #primary-nav{
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        justify-content: center;
                        margin-bottom: 25px;
    
                        @include mini-desktop {
                            justify-content: space-between;
                        }
    
                        li{
                            a{
                                padding: 9px 14px;
                                border-radius: 20px;
                                text-decoration: none;
                                color: #358600;
                                font-family: 'BarlowSemiBold', sans-serif;
                                text-transform: uppercase;
                                &:hover{
                                    background-color: #f0f9ea;
                                    color: #013578;
                                }
                                @include desktop{
                                    font-size: 18px;
                                }
                            }
                        }
                        li.menu-active, li.current_page_item{
                            a{
                                background-color: #358600;
                                color: #fff;
                            }
                    }
                }
            }
        }
    }
}